/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    background-color: #fff;
  }
  
  .contact-info {
    font-size: 0.9em;
    color: #ffc107;
    background-color: #333;
    height: 100%;
    width: 400px;
    padding: 10px 20px;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
  }
  
  .email, .phone {
    margin-right: 15px;
  }

  .navigation {
    padding: 10px 20px;
  }
  
  .navigations a {
    margin-left: 15px;
    color: #333;
    text-decoration: none;
  }
  
  .navigations a.active {
    color: #ffc107;
    font-weight: bold;
  }